# .gitignore for Home Assistant repository

# An * ensures that everything will be ignored.
*

# Whitelisted files/folders - prefixed with !
!blueprints/copy_move_todo_list
!blueprints/device_charge_control
!blueprints/device_charge_control/scripts
!blueprints/
!packages/
!packages/battery_alert/
!packages/copy_move_todo_list
!packages/garmin_livetrack/
!packages/garmin_livetrack/docs/
!packages/hue_motion_sensor_sensitivity/
!packages/pollen_denmark/
!packages/pollen_denmark/images/
!packages/zone_registration/
!lovelace/

!*.yaml
!*.md
!*.py
!*.png
!*.sh
!*.ps1
!*.drawio

!LICENSE
!.gitignore

