# .gitignore for Home Assistant repository

# An * ensures that everything will be ignored.
*

# Whitelisted files/folders - prefixed with !
!battery_alert/
!battery_charger/
!garmin_livetrack/
!hue_motion_sensor_sensitivity/
!pollen_denmark/
!pollen_denmark/images/
!zone_registration/

!*.yaml
!*.md
!*.py
!*.png
!*.sh

!LICENSE
!.gitignore

